<!-- docs: https://www.npmjs.com/package/@kolkov/angular-editor -->
<!-- simple forms -->
<!-- <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor> -->

<!-- reactive forms -->
<!-- <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor> -->

<form [formGroup]="textEditorForm">
  <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
</form>
<button (click)="getContent()">Get content!</button>

<!-- multiple editors -->
<!-- <angular-editor id="editor1" formControlName="htmlContent1" [config]="editorConfig"></angular-editor> -->
<!-- <angular-editor id="editor2" formControlName="htmlContent2" [config]="editorConfig"></angular-editor> -->

<router-outlet></router-outlet>